.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.products .card {
  width: 300px;
  margin: 15px;
}

/* .table td,
.table th {
  border: solid 5px grey;
} */
