extends ../layouts/layout_products.pug

block main
  h3.title.is_3 Crea un nuevo producto 
  form(action="/products/create", method="POST")
    .field
      label.label Nombre
      .control
        input.input(type="text", name="name")
    
    .field
      label.label Description
      .control
        input.input(type="text", name="description")

    .field
      label.label Precio
      .control
        input.input(type="text", name="price")
    
    .field
      label.label Categoria 
      .control
        input.input(type="text", name="category")
    
    .control 
      button.button.is-info.is-fullwidth Enviar 